.work-place-title {
  margin: 0 0 0 55px;
}

#timeline-content {
  margin-left: 10px;
}

#timeline-content > li {
  margin: 0 0 50px -24px;
}

#timeline-content > li:before {
    content: "·";
    font-size: 200px;
    vertical-align: middle;
    line-height: 20px;
    color: $primary-color;
}

.flow-text {
  font-size: 1rem;
}

.working-period {
  font-size: 1.2rem;
}

.work-description {
  padding: 10px 0 0 55px;
}

#work {
  position: relative;
}

.working-period::before {
  /* this is the vertical line */
  content: '';
  position: relative;
  top: 120px;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  background: $primary-color;
}

#work .card-panel::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  width: 4px;
  margin-left: 10px;
  background: $primary-color;
}
