.education-place-title,
#timeline-content p {
  margin: 0 0 10px 55px;
}

#timeline-content {
  margin-left: 10px;
}

#timeline-content {
  #education-description-hide-text {
    margin: -20px 0 0 0;
  }
}

#timeline-content > li {
  margin: 0 0 50px -24px;
}

#timeline-content > li:before {
    content:"·";
    font-size:200px;
    vertical-align:middle;
    line-height:20px;
    color: $primary-color;
}

.flow-text {
  font-size: 1rem;
}

.education-period {
  font-size: 1.2rem;
}

.education-description {
  padding: 10px 0 0 55px;
}

.long-list {
  background: linear-gradient(to top, #fff 1%, #000 99%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#education {
  position: relative;

  #toggle-courses {
    width: 100%;
    text-align: center;
    margin: 5px 0 0 0;

    a {
      background-color: $secondary-color;
    }

    a:hover {
      color: $link-color;
    }
  }
}

.education-period::before {
  /* this is the vertical line */
  content: '';
  position: relative;
  top: 120px;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  background: $primary-color;
}

#education .card-panel::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  width: 4px;
  margin-left: 10px;
  background: $primary-color;
}
