# .gitignore

# Ignore hidden folders
# This takes care of .tmp, .sass-cache, and many others
.*/

# Jekyll
_site/
.sass-cache/
.jekyll-metadata

# Linux
*~

# Always-ignore files and folders
*.diff
*.err
*.log
*.orig
*.rej
*.swn
*.swo
*.swp
._*
*~

# Ignore packages
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Packages
node_modules/
bower_components
.tmp
test/

### npm ###
package-lock.json

# Gulp temp files
assets/scss/main.css
assets/scss/main.min.css
assets/scss/main.css.map
assets/app.min.js
