---
layout: default
title: Nir Galon Resume
---

<div class="row">

  <div class="col l2 s0">
    {% include header.html %}
  </div>

  <div class="col l10 s12">
    <ul>
      <li id="general">
        {% include section-general.html %}
      </li>
      <li id="work">
        {% include section-work.html %}
      </li>
      <li id="education">
        {% include section-education.html %}
      </li>
      <li id="skills">
        {% include section-skills.html %}
      </li>
      <li id="projects">
        {% include section-projects.html %}
      </li>
      <li id="contact">
        {% include section-contact.html %}
      </li>
    </ul>
  </div>

</div>
