<h1 class="hide-me">Nir Galon</h1>
<header id="header-profile" class="hide-on-med-and-down col l2">
  <a href="https://raw.githubusercontent.com/nirgn975/Resume/master/assets/img/Nir_Galon_big.jpg" target="_blank">
    <img src="assets/img/Nir_Galon_small.jpg" alt="Nir Galon">
  </a>

  <div class="card-panel light-blue">
    {% include header-links.html %}
  </div>
</header>

<nav class="hide-on-large-only">
  <div id="slide-out" class="side-nav blue">
    <a href="https://raw.githubusercontent.com/nirgn975/Resume/master/assets/img/Nir_Galon_big.jpg" target="_blank">
      <img src="assets/img/Nir_Galon_small.jpg" alt="Nir Galon">
    </a>

    {% include header-links.html %}
  </div>
  <a href="#" data-activates="slide-out" id="menu-btn" class="button-collapse">
    <i class="material-icons">menu</i>
  </a>
</nav>
