<p>Hi!<br />My name is Nir Galon, I'm a geek who always want to learn new things. I work as a software developer and I love what I do!</p>
<ul id="profiles">
  <li>
    <a href="https://github.com/nirgn975" target="_blank">GitHub</a>
  </li>
  <li>
    <a href="http://www.linkedin.com/in/nirgn" target="_blank">LinkedIn</a>
  </li>
  <li>
    <a href="http://stackoverflow.com/users/2040160/nir" target="_blank">Stack Overflow</a>
  </li>
  <li>
    <a href="https://twitter.com/nirgn975" target="_blank">Twitter</a>
  </li>
  <li>
    <a href="https://plus.google.com/+NirGalon" target="_blank">Google Plus</a>
  </li>
  <li>
    <a href="files/Resume.pdf" download>Download PDF</a>
  </li>
</ul>
