<h1 class="hide-me">Nir Galon</h1>
<header id="header-profile" class="hide-on-med-and-down">
  <img src="assets/img/Nir_Galon.png" alt="Nir Galon">

  <div class="card-panel light-blue">
    <p>Hi!<br />My name is Nir, I'm a geek who always want to learn new things. I work as a software developer and I love what I do!</p>
    <ul id="profiles">
      <li>
        <a href="https://plus.google.com/+NirGalon" target="_blank">Google Plus</a>
      </li>
      <li>
        <a href="https://github.com/nirgn975" target="_blank">GitHub</a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/nirgn" target="_blank">LinkedIn</a>
      </li>
      <li>
        <a href="https://twitter.com/nirgn975" target="_blank">Twitter</a>
      </li>
      <li>
        <a href="http://stackoverflow.com/users/2040160/nir" target="_blank">Stack Overflow</a>
      </li>
      <li>
        <a href="assets/Resume.pdf" download>Download PDF</a>
      </li>
    </ul>
  </div>
</header>

<nav class="hide-on-large-only">
  <div id="slide-out" class="side-nav blue">
    <img src="assets/img/Nir_Galon.png" alt="Nir Galon">
    <p>Hi!<br />My name is Nir, I'm a geek who always want to learn new things. I work as a software developer and I love what I do!</p>
    <ul id="profiles">
      <li>
        <a href="https://plus.google.com/+NirGalon" target="_blank">Google Plus</a>
      </li>
      <li>
        <a href="https://github.com/nirgn975" target="_blank">GitHub</a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/nirgn" target="_blank">LinkedIn</a>
      </li>
      <li>
        <a href="https://twitter.com/nirgn975" target="_blank">Twitter</a>
      </li>
      <li>
        <a href="http://stackoverflow.com/users/2040160/nir" target="_blank">Stack Overflow</a>
      </li>
      <li>
        <a href="assets/Resume.pdf" download>Download PDF</a>
      </li>
    </ul>
  </div>
  <a href="#" data-activates="slide-out" id="menu-btn" class="button-collapse">
    <i class="material-icons">menu</i>
  </a>
</nav>
