<h1 class="hide-me">Nir Galon</h1>
<header id="header-profile">
  <img src="assets/img/Nir_Galon.png" alt="Nir Galon">

  <div class="card-panel light-blue">  
    <p>Hi!<br />My name is Nir, I'm a geek who always want to learn new things. I work as a software developer and I love what I do!</p>
    <ul id="profiles">
      <li>
        <a href="https://plus.google.com/+NirGalon">Google Plus</a>
      </li>
      <li>
        <a href="https://github.com/nirgn975">GitHub</a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/nirgn">LinkedIn</a>
      </li>
      <li>
        <a href="https://twitter.com/nirgn975">Twitter</a>
      </li>
      <li>
        <a href="http://stackoverflow.com/users/2040160/nir">Stack Overflow</a>
      </li>
      <li>
        <a href="#">Resume PDF</a>
      </li>
    </ul>
  </div>
</header>
