<section class="row">
  <div class="offset-s1 col s10">
    <div class="card-panel light-blue">
      <span class="card-title activator grey-text text-darken-4">
        <h3>Work</h3>
      </span>

      <div class="row">
        <h5 class="work-place-title">
          Full Stack Web Developer @
          <a href="https://www.linkedin.com/company/1776824?trk=prof-exp-company-name">
            Gizra - Internet Solutions
          </a>
        </h5>
        <span class="right working-period">12/2015 - Present</span>
      </div>
      <ul class="work-description">
        <li>Doing somethin..</li>
      </ul>

      <hr />

      <div class="row">
        <h5 class="work-place-title">
          Junior Full Stack Web Developer @
          <a href="https://www.linkedin.com/company/2484049?trk=prof-exp-company-name">
            Restart - IT | Web | Mobile
          </a>
        </h5>
        <span class="right working-period">07/2015 - 11/2015</span>
      </div>
        <ul class="work-description">
          <li>Part of a team that develops and maintains a financial system from end to end, that handles thousands of transactions to offshore bank accounts.</li>
          <li>Implement a new Front-end design built with HTML5, CSS3, Bootstrap, JS and jQuery.</li>
          <li>Back-end written in PHP, and DB in MySQL.</li>
          <li>Implement new banks APIs.</li>
        </ul>

      <hr />

      <div class="row">
        <h5 class="work-place-title">
          Internet Expert @
          <a href="https://www.linkedin.com/company/162949?trk=prof-exp-company-name">
            Cellcom Israel, Ltd
          </a>
        </h5>
        <span class="right working-period">03/2011 - 12/2012</span>
      </div>
      <ul class="work-description">
        <li>Tier 2 customer Support Expert Team.</li>
        <li>Knowledge focal point for representatives at specialized Call centers.</li>
        <li>Handling top level customer escalations and Gold customers support.</li>
        <li>Experience working on UNIX-based switches with HP-UX, And with SAP & Amdocs systems.</li>
        <li>Responsible for converting two call centers (Haifa and Beer Sheva) to specialized centers (provide training, and supervision throughout the beginning of the activity until go-live operation).</li>
      </ul>

      <hr />

      <div class="row">
        <h5 class="work-place-title">
          Internet Service Representitive @
          <a href="https://www.linkedin.com/company/162949?trk=prof-exp-company-name">
            Cellcom Israel, Ltd
          </a>
        </h5>
        <span class="right working-period">11/2009 - 02/2011</span>
      </div>
      <ul class="work-description">
        <li>Tier 1 customer Support Team.</li>
        <li>Handling customer requirements and providing solutions on Internet, data and technical problems.</li>
        <li>Rated at the 10% of the Company's outstanding employees in 2010 and a leader in service in the internet and technical Customer Service Center in 2011.</li>
      </ul>

      <hr />

      <div class="row">
        <h5 class="work-place-title">
          Military service (shortened for health reasons)
        </h5>
        <span class="right working-period">03/2009 - 10/2009</span>
      </div>
      <ul class="work-description">
        <li>Administrative role in the logistics department at Sde Dov Air Force base.</li>
      </ul>
    </div>
  </div>
</section>
