<section id="education" class="row">
  <div class="offset-m1 offset-s1 col m10 s11">
    <div class="card-panel">
      <span class="row card-title activator grey-text text-darken-4">
        <svg fill="#000000" height="48" viewBox="0 0 24 24" width="48" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 0h24v24H0z" fill="none"/>
          <path d="M5 13.18v4L12 21l7-3.82v-4L12 17l-7-3.82zM12 3L1 9l11 6 9-4.91V17h2V9L12 3z"/>
        </svg>
        <h3>Education</h3>
      </span>

      <ul id="timeline-content">
        <li>
          <span class="education-period">01/2017 - 06/2017</span>
          <h5 class="education-place-title">
            Deep Learning Foundations @
            <a href="https://www.udacity.com/" target="_blank">Udacity</a>.
          </h5>
          <ul class="education-description">
            <li></li>
          </ul>
        </li>
        <li>
          <span class="education-period">06/2011 - 06/2016</span>
          <h5 class="education-place-title">
            Bachelor's degree in Computer Science and Business Administration @
            <a href="https://www.linkedin.com/edu/school?id=162040&trk=edu-cp-title" target="_blank">The Open University of Israel</a>.
          </h5>
            <p>
              I did a Seminar paper in Business Ethics course (grade: 85).<br />
              My final project was in Java: <a href="https://github.com/nirgn975/Book4You">GitHub Link</a> (grade: 95).<br />
              GPA: 76.<br />
              <br />
              <u>The courses I done:</u>
            </p>

            <ul id="education-description-hide-text" class="education-description long-list">
            <li>
              <a href="http://www-e.openu.ac.il/courses/20127.htm" target="_blank">
                Advanced Computer Applications (20127)
              </a>
            </li>
            <li>
              <a href="http://www-e.openu.ac.il/courses/30203.htm" target="_blank">
                Introduction to Statistics and Probability for Science Students (30203)
              </a>
            </li>
            <li>
              <a href="http://www-e.openu.ac.il/courses/30204.htm" target="_blank">
                Statistical Inference (30204)
              </a>
            </li>
            <li>
              <a href="http://www-e.openu.ac.il/courses/10285.htm" target="_blank">
                Research Methods in Social Sciences: Principles and Research Styles (10285)
              </a>
            </li>
            <li>
              <a href="http://www-e.openu.ac.il/courses/20406.htm" target="_blank">
                Differential and Integral Calculus I (20406)
              </a>
            </li>
            <li>
              <a href="http://www-e.openu.ac.il/courses/10444.htm" target="_blank">
                Mathematics for Students of Social Sciences: Set Theory, Logic and Linear Algebra (10444)
              </a>
            </li>
            <li>
              <a href="http://www-e.openu.ac.il/courses/10131.htm" target="_blank">
                Introduction to Microeconomics (10131)
              </a>
            </li>
            <li>
              <a href="http://www-e.openu.ac.il/courses/10126.htm" target="_blank">
                Introduction to Macroeconomics (10126)
              </a>
            </li>
            <li>
              <a href="http://www-e.openu.ac.il/courses/10430.htm" target="_blank">
                Organizational Behavior (10430)
              </a>
            </li>
            <li>
              <a href="http://www-e.openu.ac.il/courses/10280.htm" target="_blank">
                Introduction to Accounting (10280)
              </a>
            </li>
            <li>
              <a href="http://www-e.openu.ac.il/courses/10281.htm" target="_blank">
                Marketing Management (10281)
              </a>
            </li>
            <li>
              <a href="http://www-e.openu.ac.il/courses/10230.htm" target="_blank">
                Financial Theory: Financial Management of Business Firms (10230)
              </a>
            </li>
            <li>
              <a href="http://www-e.openu.ac.il/courses/10800.htm" target="_blank">
                Law of Contracts (10800)
              </a>
            </li>
            <li>
              <a href="http://www-e.openu.ac.il/courses/10523.htm" target="_blank">
                Business Ethics (10523)
              </a>
            </li>
            <li>
              <a href="http://www-e.openu.ac.il/courses/10908.htm" target="_blank">
                Strategic Management (10908)
              </a>
            </li>
            <li>
              <a href="http://www-e.openu.ac.il/courses/20441.htm" target="_blank">
                Introduction to Computer Science Using Java (20441)
              </a>
            </li>
            <li>
              <a href="http://www-e.openu.ac.il/courses/20433.htm" target="_blank">
                Data Structures and Algorithms (20433)
              </a>
            </li>
            <li>
              <a href="http://www-e.openu.ac.il/courses/20277.htm" target="_blank">
                Databases systems (20277)
              </a>
            </li>
            <li>
              <a href="http://www-e.openu.ac.il/courses/20436.htm" target="_blank">
                Principles of Information Systems Development (20436)
              </a>
            </li>
            <li>
              <a href="http://www-e.openu.ac.il/courses/20465.htm" target="_blank">
                System Programming Laboratory (20465)
              </a>
            </li>
            <li>
              <a href="http://www-e.openu.ac.il/courses/20272.htm" target="_blank">
                Digital Design (20272)
              </a>
            </li>
            <li>
              <a href="http://www-e.openu.ac.il/courses/20554.htm" target="_blank">
                Advanced Programming with Java (20554)
              </a>
            </li>
            <li>
              <a href="http://www-e.openu.ac.il/courses/20582.htm" target="_blank">
                Introduction to Computer Networks (20582)
              </a>
            </li>
            <li>
              <a href="http://www-e.openu.ac.il/courses/20594.htm" target="_blank">
                Operating Systems (20594)
              </a>
            </li>
            <li>
              <a href="http://www-e.openu.ac.il/courses/20551.htm" target="_blank">
                Introduction to Artificial Intelligence (20551)
              </a>
            </li>
            <li>
              <a href="http://www-e.openu.ac.il/courses/20503.htm" target="_blank">
                Workshop: Advanced Programming with Java (20503)
              </a>
            </li>
          </ul>
          <div id="toggle-courses">
            <a class="waves-effect waves-light btn Pink">Show More</a>
          </div>
        </li>
        <li>
          <span class="education-period">01/2014 - 12/2015</span>
          <h5 class="education-place-title">
            Fundamentals of Computing Specialization on Coursera from
            <a href="http://www.rice.edu/" target="_blank">Rice University</a>.
          </h5>
          <ul class="education-description">
            The specialization including the courses:
            <li>
              <a href="https://www.coursera.org/account/accomplishments/records/4AcC8bpzybnSy88v" target="_blank">An Introduction to Interactive Programming in Python - (9 weeks).</a>
            </li>
            <li>
              <a href="https://www.coursera.org/account/accomplishments/verify/9JN97ACR8M" target="_blank">Principles of Computing (Part 1) - (5 weeks).</a>
            </li>
            <li>
              <a href="#" target="_blank">Principles of Computing (Part 2) - (4 weeks), During study.</a>
            </li>
          </ul>
        </li>
        <li>
          <span class="education-period">01/2004 - 01/2008</span>
          <h5 class="education-place-title">
            High School diploma @
            <a href="http://www.oramo.co.il/" target="_blank">Ora Modi'im High School</a>.
          </h5>
          <ul class="education-description">
            <li>Majoring in computer science at Ora Modi'im High School.</li>
            <li>GPA: 82.</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</section>
