<section id="presentations" class="row">
  <div class="offset-m1 offset-s1 col m10 s11">
    <div class="card-panel">
      <span class="row card-title activator grey-text text-darken-4">
        <i class="material-icons medium">aspect_ratio</i>
        <h3>Presentations</h3>
      </span>

      <div class="presentations-description">
        <p>
          Here are all my talks that I ever gave in Meetups.
        </p>
        <ul>
          <li><strong>11.8.16</strong> - <a href="assets/files/presentations/404_SQL_DB_not_found._Meet_RethinkDB.pdf" download>404 SQL DB not found. Meet RethinkDB</a> - <a href="https://www.meetup.com/RethinkDB-Israel-Meetup/events/217336482/" target="_blank">Meetup page.</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
