<section class="row">
  <div class="offset-s1 col s10">
    <div class="card-panel light-blue">
      <span class="card-title activator grey-text text-darken-4">
        <h3>General</h3>
      </span>
      <p class="general-description">
        I'm a dedicated, quality-focused professional with a strong sense of responsibility, team spirit and good human skills.Ability to multi-task under pressure within changing environments and to meet tight deadlines.
      </p>
      <ul>
        <li>
          Extensive experience providing customer service for home and enterprise customers.
        </li>
        <li>
            Broad system view with the ability to drill down to the fine details.
        </li>
        <li>
          Fast learning curve, adapting and embracing new technologies.
        </li>
      </ul>
    </div>
  </div>
</section>
