<section id="work" class="row">
  <div class="offset-m1 offset-s1 col m10 s11">
    <div class="card-panel">
      <span class="row card-title activator grey-text text-darken-4">
        <svg fill="#000000" height="48" viewBox="0 0 24 24" width="48" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 0h24v24H0z" fill="none"/>
          <path d="M20 6h-4V4c0-1.11-.89-2-2-2h-4c-1.11 0-2 .89-2 2v2H4c-1.11 0-1.99.89-1.99 2L2 19c0 1.11.89 2 2 2h16c1.11 0 2-.89 2-2V8c0-1.11-.89-2-2-2zm-6 0h-4V4h4v2z"/>
        </svg>
        <h3>Work</h3>
      </span>

      <ul id="timeline-content">
        <li>
          <span class="working-period">12/2015 - Present</span>
          <h5 class="work-place-title">
            Full Stack Web Developer @
            <a href="https://www.linkedin.com/company/1776824" target="_blank">Gizra - Internet Solutions</a>.
          </h5>
          <ul class="work-description">
              <li></li>
          </ul>
        </li>
        <li>
          <span class="working-period">10/2015 - Present</span>
          <h5 class="work-place-title">
            Web Developer, Volunteer @
            <a href="https://www.linkedin.com/company/2471778" target="_blank">The Public Knowledge Workshop</a>.
          </h5>
          <ul class="work-description">
            <li>Take part in <a href="https://hackita02.hasadna.org.il/">Hackita02</a> program and one of the founders of <em>"Ways Of Time"</em> project that enable the National Library of Israel to upload and geotag their geographic maps collection, and open them to the public so they can browse and see them from anywhere.</li>
            <li>Lead developer of version 2.x of the <em>"Open Pension"</em> project. The project mission is to reveal what happens behind the Israeli pension market, while enabling the public to trace the money and expose corruption.</li>
            <br>
            <ul>
              <li><a href="https://github.com/nirgn975/WaysOfTime">Ways Of Time - GitHub</a></li>
              <li><a href="https://github.com/hasadna/open_pension">Open Pension Website - GitHub</a></li>
              <li><a href="https://github.com/hasadna/open_pension_scraper">Open Pension Crawler - GitHub</a></li>
            </ul>
          </ul>
        </li>
        <li>
          <span class="working-period">07/2015 - 11/2015</span>
          <h5 class="work-place-title">
            Full Stack Web Developer @
            <a href="https://www.linkedin.com/company/2484049" target="_blank">Restart Group - IT | WEB | Mobile | People</a>.
          </h5>
          <ul class="work-description">
            <li>Part of a team that develops and maintains a financial system, from end to end, that handles thousands of transactions to offshore bank accounts.</li>
            <li>Implement a new Front-end design built with HTML5, CSS3, Bootstrap, JS and jQuery.</li>
            <li>Back-end written in PHP, and DB in MySQL.</li>
            <li>Implement new banks APIs.</li>
          </ul>
        </li>
        <li>
          <span class="working-period">03/2011 - 12/2012</span>
          <h5 class="work-place-title">
            Internet Expert @
            <a href="https://www.linkedin.com/company/162949" target="_blank">Cellcom Israel, Ltd</a>.
          </h5>
          <ul class="work-description">
            <li>Tier 2 customer Support Expert Team.</li>
            <li>Knowledge focal point for representatives at specialized Call centers.</li>
            <li>Handling top level customer escalations and Gold customers support.</li>
            <li>Experience working on UNIX-based switches with HP-UX, And with SAP & Amdocs systems.</li>
            <li>Responsible for converting two call centers (Haifa and Beer Sheva) to specialized centers (provide training, and supervision throughout the beginning of the activity until go-live operation).</li>
          </ul>
        </li>
        <li>
          <span class="working-period">11/2009 - 02/2011</span>
          <h5 class="work-place-title">
            Internet Service Representitive @
            <a href="https://www.linkedin.com/company/162949" target="_blank">Cellcom Israel, Ltd</a>.
          </h5>
          <ul class="work-description">
            <li>Tier 1 customer Support Team.</li>
            <li>Handling customer requirements and providing solutions on Internet, data and technical problems.</li>
            <li>Rated at the 10% of the Company's outstanding employees in 2010 and a leader in service in the internet and technical Customer Service Center in 2011.</li>
          </ul>
        </li>
        <li>
          <span class="working-period">03/2009 - 10/2009</span>
          <h5 class="work-place-title">
            Military service (shortened for health reasons).
          </h5>
          <ul class="work-description">
            <li>Administrative role in the logistics department at Sde Dov Air Force base.</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</section>
