<section id="skills" class="row">
  <div class="offset-m1 offset-s1 col m10 s11">
    <div class="card-panel">
      <span class="row card-title activator grey-text text-darken-4">
        <i class="material-icons medium">trending_up</i>
        <h3>Skills</h3>
      </span>

      <div class="chip">HTML5</div>
      <div class="chip">CSS3</div>
      <div class="chip">Bootstrap</div>
      <div class="chip">JavaScript</div>
      <div class="chip">jQuery</div>
      <div class="chip">AJAX</div>
      <div class="chip">AngularJS</div>
      <div class="chip">NodeJS</div>
      <div class="chip">ExpressJS</div>
      <div class="chip">MongoDB</div>
      <div class="chip">MVC</div>
      <div class="chip">Python</div>
      <div class="chip">Django</div>
      <div class="chip">Java</div>
      <div class="chip">C</div>
      <div class="chip">Arduino</div>
      <div class="chip">Algorithms</div>
      <div class="chip">Data Structures</div>
      <div class="chip">Computer Networks</div>
      <div class="chip">Operating Systems</div>
      <div class="chip">Test Driven Development</div>
      <div class="chip">SQL</div>
      <div class="chip">TCP / IP</div>
      <div class="chip">Linux</div>
      <div class="chip">Telecommunication</div>
      <div class="chip">PHP</div>
      <div class="chip">MySQL</div>
      <div class="chip">Git & GitHub</div>
      <div class="chip">Open Source</div>
      <div class="chip">Teamwork</div>
      <div class="chip">Desgin Patterns</div>
      <div class="chip">Web Applications</div>
      <div class="chip">Sofeware Development</div>
      <div class="chip">Unit Testing</div>
      <div class="chip">PostgreSQL</div>
      <div class="chip">PostGIS</div>
      <div class="chip">Leaflet</div>
      <div class="chip">Android Development</div>

    </div>
  </div>
</section>
