<section class="row">
  <div class="offset-s1 col s10">
    <div class="card-panel teal">
      <span class="white-text">
        <span class="card-title activator grey-text text-darken-4">
          Work
        </span>


      12/2015 - Present
      Full Stack Web Developer at
      <a href="https://www.linkedin.com/company/1776824?trk=prof-exp-company-name">
        Gizra - Internet Solutions
      </a>
      <p class="flow-text">
        Part of a team who responsible develop and maintain a finance system from end to end that accessible from the browser.
        Implement a new design built with HTML5, CSS3, Bootstrap, JavaScript, and jQuery.
        Back-end written in PHP and uses MySQL for the Database.
        Build an android & iOS app for the system with Ionic and AngularJS.
      </p>
      07/2015 - 11/2015
      Junior Full Stack Web Developer at
      <a href="https://www.linkedin.com/company/2484049?trk=prof-exp-company-name">
        Restart - IT | Web | Mobile
      </a>
      <p class="flow-text">
        Part of a team who responsible develop and maintain a finance system from end to end that accessible from the browser.
        Implement a new design built with HTML5, CSS3, Bootstrap, JavaScript, and jQuery.
        Back-end written in PHP and uses MySQL for the Database.
        Build an android & iOS app for the system with Ionic and AngularJS.
      </p>
      03/2011 - 12/2012
      Internet Expert at
      <a href="https://www.linkedin.com/company/162949?trk=prof-exp-company-name">
        Cellcom Israel, Ltd
      </a>
      <p class="flow-text">
        Tier 2 customer Support Expert Team.
        Knowledge focal point for representatives at specialized Call centers.
        Handling top level customer escalations and Gold customers support.
        Experience working on UNIX-based switches with HP system, and with SAP & Amdocs systems.
        Responsible for converting two call centers (Haifa and Beer Sheva) to specialized centers (provide training, and supervision throughout the beginning of the activity until go-live operation).
      </p>
      11/2009 - 02/2011
      Internet Service Representitive at
      <a href="https://www.linkedin.com/company/162949?trk=prof-exp-company-name">
        Cellcom Israel, Ltd
      </a>
      <p class="flow-text">
        Tier 1 customer Support Team.
        Handling customer requirements and providing solutions on Internet, data and technical problems.
        Rated at the 10% of the Company's outstanding employees in 2010 and a "leader in service" in the internet and technical Customer Service Center in 2011.
      </p>
      03/2009 - 10/2009
      Military service (shortened for health reasons)
      <p class="flow-text">
        Administrative role in the logistics department at Sde Dov Air Force base.
      </p>

      </span>
    </div>
  </div>
</section>
