<section class="row">
  <div class="offset-s1 col s10">
    <div class="card-panel light-blue">
      <span class="row card-title activator grey-text text-darken-4">
        <i class="material-icons medium">perm_identity</i>
        <h3>General</h3>
      </span>

      <div class="general-description">
        <p>
          I'm a dedicated, quality-focused professional with a strong sense of responsibility, team spirit and good human skills.Ability to multi-task under pressure within changing environments and to meet tight deadlines.
        </p>
        <ul>
          <li>
            Extensive experience providing customer service for home and enterprise customers.
          </li>
          <li>
              Broad system view with the ability to drill down to the fine details.
          </li>
          <li>
            Fast learning curve, adapting and embracing new technologies.
          </li>
        </ul>
        <p>Other profiles:
          <a href="https://www.codeschool.com/users/349833">Code School</a>,
          <a href="http://teamtreehouse.com/nirgalon">TreeHouse</a>,
          <a href="https://www.codecademy.com/teraAce56031">Codecademy</a>,
          <a href="https://www.khanacademy.org/profile/nirgn975/">Khan Academy</a>
        </p>
      </div>
    </div>
  </div>
</section>
