<section id="contact" class="row">
  <div class="offset-m1 offset-s1 col m10 s11">
    <div class="card-panel">
      <span class="row card-title activator grey-text text-darken-4">
        <i class="material-icons medium">email</i>
        <h3>Contact</h3>
      </span>

      <div class="row">
        <form class="col s12" action="https://formspree.io/nirgn975@gmail.com" method="POST">
          <div class="row">
            <div class="input-field col s6">
              <input id="first_name" type="text" class="validate" name="first name">
              <label for="first_name">First Name</label>
            </div>
            <div class="input-field col s6">
              <input id="last_name" type="text" class="validate" name="last name">
              <label for="last_name">Last Name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="email" type="email" name="email">
              <label for="email">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <textarea id="textarea1" class="materialize-textarea" name="message body"></textarea>
              <label for="textarea1">Message Body</label>
            </div>
          </div>
          <div class="row">
          <div>
          <div class="row right-align">
            <input type="submit" value="Send" class="waves-effect waves-light btn Pink">
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
