html, body {
  height: 100vh;
  padding: 0;
  margin: 0;
}

:root {
  --color-background: #E0E0E0;
  --color-text: rgba(0, 0, 0, .87);
  --color-border: rgba(0, 0, 0, .3);
}

[data-theme="dark"] {
  --color-background: #252627;
  --color-text: #a9a9b3;
  --color-border: rgba(255, 255, 255, .3);
}

body {
  font-family: 'Roboto', sans-serif;
  background: var(--color-background);
  color: var(--color-text);
}

#header {
  top: 0;
  position: fixed;
  margin: 1%;
}

.category-header h2 {
  display: inline-block;
}

.skills div.block {
  margin-left: 3%;
}

.skills span {
  margin-right: 1%;
}

.skills img {
  width: 1.5rem;
  vertical-align: bottom;
}

.projects div.card div.description {
  margin: 4% 2%;
}

.blog .featured-image img {
  width: 100%;
}

.timeline-container {
	width: 90%;
	margin: 0 auto;
}

.timeline-container .timeline-item {
	padding: 1em 2em 2em;
	position: relative;
	border-left: 2px solid var(--color-border);
}

.timeline-container .timeline-item h3 {
  margin: .25% 0 1% 0;
}

.timeline-container .timeline-item p {
	font-size: 1rem;
}

.timeline-container .timeline-item span.date::after {
	width: 1rem;
	height: 1rem;
	display: block;
	top: 1.2rem;
	position: absolute;
	left: -.6rem;
	border-radius: 10px;
	content: '';
	border: 2px solid var(--color-border);
	background: var(--color-background);
}

.timeline-container .timeline-item:last-child {
  border-image: linear-gradient(to bottom, var(--color-border) 60%, var(--color-border)) 1 100%;
}
