body {
  background-color: $background-color;
  color: $text-color;
}

a {
  transition: color 0.5s ease;
  color: $link-color;
}

a:hover {
  transition: color 0.5s ease;
  color: $secondary-color;
}

h5 {
  font-size: 1.4rem;
}

hr {
  border: 1px solid #424242;
  margin: 45px 0;
}

.card-title h3 {
  display: inline-block;
}

.card-title i {
  padding: 5px;
  height: 50px;
  vertical-align: text-bottom;
}


@media only screen and (max-width: 500px) {
  .card-title i {
    font-size: 3rem;
    height: 40px;
    padding: 5px;
  }

  .card-title h3 {
    font-size: 2.25rem;
    margin: 0;
  }

  #timeline-content h5 {
    font-size: 1.2rem
  }

  .card-panel {
    padding: 10px
  }
}
