/* label color */
 .input-field label {
   color: #000;
 }
 input[type=text],
 input[type=email],
 textarea.materialize-textarea {
   border-bottom: 1px solid #000;
   box-shadow: 0 1px 0 0 #000;
 }
 /* label focus color */
 .input-field input[type=text]:focus + label,
 .input-field input[type=email]:focus + label,
 textarea.materialize-textarea:focus:not([readonly]):focus + label {
   color: #000;
 }
 /* label underline focus color */
 .input-field input[type=text]:focus,
 .input-field input[type=email]:focus,
 textarea.materialize-textarea:focus:not([readonly]) {
   border-bottom: 1px solid #000;
   box-shadow: 0 1px 0 0 #000;
 }
 /* valid color */
 .input-field input[type=text].valid,
 .input-field input[type=email].valid,
 textarea.materialize-textarea:focus:not([readonly]).valid {
   border-bottom: 1px solid #000;
   box-shadow: 0 1px 0 0 #000;
 }
 /* invalid color */
 .input-field input[type=text].invalid,
 .input-field input[type=email].invalid,
 textarea.materialize-textarea:focus:not([readonly]).invalid {
   border-bottom: 1px solid #000;
   box-shadow: 0 1px 0 0 #000;
 }
 /* icon prefix focus color */
 .input-field .prefix.active {
   color: #000;
 }
