.work-place-title {
  display: inline-block;
  margin: 0;
}

.row {
  margin: 20px 0 0 0;
}

.flow-text {
  font-size: 1rem;
}

.working-period {
  font-size: 1.2rem;
}

.work-description {
  padding: 10px 0 0 50px;
}
