<div class="about-me">
  <span class="category-header">
    <i class="user circle icon"></i>
    <h2>About Me</h2>
  </span>

  <div>
    <p>I'm a dedicated, quality-focused professional with a strong sense of responsibility, team spirit and good human skills.</p>
    <ul>
      <li>Active in the open source community.</li>
      <li>Broad system view with the ability to drill down to the fine details.</li>
      <li>Fast learning curve, adapting and embracing new technologies.</li>
    </ul>
  </div>
</div>
