<div id="header">
  <div class="uk-card uk-card-default">
    <div class="uk-card-media-top">
      <img src="/nir-galon.jpg">
    </div>
    <div class="uk-card-body">
      <div class="description">
        Hi! <br> My name is Nir Galon, I'm a geek who always want to learn new things. I work as a software engineer and I love what I do!
      </div>
      <div class="links">
        <a href="https://lifelongstudent.io" target="_blank"><span uk-icon="icon: pencil"></span>Lifelong Student Blog</a><br>
        <a href="https://github.com/nirgn975" target="_blank"><i class="fab fa-github"></i>GitHub</a><br>
        <a href="https://twitter.com/nirgn975" target="_blank"><i class="fab fa-twitter"></i>Twitter</a><br>
        <a href="https://www.linkedin.com/in/nirgn" target="_blank"><i class="fab fa-linkedin"></i>LinkedIn</a><br>
        <a href="http://stackoverflow.com/users/2040160/nir" target="_blank"><i class="fab fa-stack-overflow"></i>Stack Overflow</a><br>
        <a href="https://www.reddit.com/user/nirgn975" target="_blank"><i class="fab fa-reddit-alien"></i>Reddit</a><br>
        <a href="http://www.meetup.com/members/52111382" target="_blank"><i class="fab fa-meetup"></i>Meetup</a><br>
      </div>
    </div>
  </div>
</div>

<!-- This is a button toggling the off-canvas -->
<button id="mobile" uk-toggle="target: #mobile-banner" type="button">
  <span uk-icon="icon: menu; ratio: 1.5"></span>
</button>

<!-- This is an anchor toggling the off-canvas -->
<a href="#mobile-banner" uk-toggle></a>

<!-- This is the off-canvas -->
<div id="mobile-banner" uk-offcanvas>
  <div class="uk-offcanvas-bar">
    <button class="uk-offcanvas-close" type="button" uk-close></button>
    <img src="/nir-galon.jpg">
    <div class="description">
      Hi! <br> My name is Nir Galon, I'm a geek who always want to learn new things. I work as a software engineer and I love what I do!
    </div>
    <div class="links">
      <a href="https://lifelongstudent.io" target="_blank"><span uk-icon="icon: pencil"></span>Lifelong Student Blog</a><br>
      <a href="https://github.com/nirgn975" target="_blank"><i class="fab fa-github"></i>GitHub</a><br>
      <a href="https://twitter.com/nirgn975" target="_blank"><i class="fab fa-twitter"></i>Twitter</a><br>
      <a href="https://www.linkedin.com/in/nirgn" target="_blank"><i class="fab fa-linkedin"></i>LinkedIn</a><br>
      <a href="http://stackoverflow.com/users/2040160/nir" target="_blank"><i class="fab fa-stack-overflow"></i>Stack Overflow</a><br>
      <a href="https://www.reddit.com/user/nirgn975" target="_blank"><i class="fab fa-reddit-alien"></i>Reddit</a><br>
      <a href="http://www.meetup.com/members/52111382" target="_blank"><i class="fab fa-meetup"></i>Meetup</a><br>
    </div>
  </div>
</div>
