<div id="header" class="ui card">
  <div class="image">
    <img src="http://galon.io/assets/img/Nir_Galon_small.jpg">
  </div>
  <div class="content">
    <div class="description">
      Hi! <br> My name is Nir Galon, I'm a geek who always want to learn new things. I work as a software engineer and I love what I do!
    </div>
  </div>
  <div class="extra content">
    <a href="https://github.com/nirgn975" target="_blank"><i class="github icon"></i>GitHub</a><br>
    <a href="https://twitter.com/nirgn975" target="_blank"><i class="twitter icon"></i>Twitter</a><br>
    <a href="https://www.linkedin.com/in/nirgn" target="_blank"><i class="linkedin icon"></i>LinkedIn</a><br>
    <a href="http://stackoverflow.com/users/2040160/nir" target="_blank"><i class="stack overflow icon"></i>Stack Overflow</a><br>
    <a href="https://www.reddit.com/user/nirgn975" target="_blank"><i class="reddit alien icon"></i>Reddit</a><br>
    <a href="http://www.meetup.com/members/52111382" target="_blank"><i class="meetup icon"></i>Meetup</a><br>
  </div>
</div>
