<div class="contact">
  <span class="category-header">
    <i class="envelope icon"></i>
    <h2>Contact</h2>
  </span>

  <form class="ui form" action="https://formspree.io/nir@galon.io" method="POST">
    <div class="row">
      <div class="field">
        <input type="text" name="first-name" placeholder="First Name">
      </div>
      <div class="field">
        <input type="text" name="last-name" placeholder="Last Name">
      </div>
    </div>
    <div class="field">
      <input type="email" name="email" placeholder="Email">
    </div>
    <div class="field">
      <textarea name="message-body"></textarea>
    </div>
    <button class="ui button" type="submit">Send</button>
  </form>
</div>
