<div class="education">
  <span class="category-header">
    <i class="graduation cap icon"></i>
    <h2>Education</h2>
  </span>

  <div class="timeline-container">
    <div class="timeline-item">
      <span class="date">always - always</span>
  		<h3>Self Learning</h3>
  		<p>
        I'm very passionate about computers and technology, I always strive to learn more and keep myself up to date.<br>
        Here are couple of the platforms I use do achive that goal:
      </p>
      <a href="http://teamtreehouse.com/nirgalon" target="_blank">Treehouse User Profile</a> |
      <a href="https://www.codecademy.com/profiles/teraAce56031" target="_blank"> Codecademy User Profile</a>
      <br>
      <div class="badges">
        <a href="https://www.codewars.com/users/nirgn" target="_blank"><img src="https://www.codewars.com/users/nirgn/badges/small"></a>
        <a href="https://stackexchange.com/users/2325549" target="_blank"><img src="https://stackexchange.com/users/flair/2325549.png" width="208" height="58"></a>
        <a href="https://tryhackme.com/p/nirgn975" target="_blank"><img src="https://tryhackme-badges.s3.amazonaws.com/nirgn975.png" alt="TryHackMe"></a>
      </div>
  	</div>

    <div class="timeline-item">
      <span class="date">6/2020 - 12/2020</span>
  		<h3>
        Practical Ethical Hacking - by Heath Adams (The Cyber Mentor) @
        <a href="https://www.udemy.com" target="_blank">Udemy</a>
      </h3>
  		<p>A pentration testing course at Udemy</p>
      <ul>
        <li>The <a href="https://www.udemy.com/course/practical-ethical-hacking" target="_blank">program syllabus</a> include: Networking, Active Directory exploitation, hack Wireless networks, OWASP Top 10, how to write a Pentest Report, etc</li>
      </ul>
  	</div>

  	<div class="timeline-item">
      <span class="date">01/2017 - 08/2017</span>
  		<h3>
        Deep Learning Foundations @
        <a href="https://www.udacity.com" target="_blank">Udacity</a>
      </h3>
  		<p>A nanodegree program at Udacity</p>
      <ul>
        <li>The <a href="https://www.udacity.com/course/deep-learning-nanodegree-foundation--nd101" target="_blank">program syllabus</a> include: Neural Networks, Convolutional Neural Networks, Recurrent Neural Networks, Generative Adversarial Networks</li>
        <li>The 5 projects I built during the program - <a href="https://github.com/nirgn975/DLND" target="_blank">GitHub</a></li>
        <li><a href="assets/files/nd101.pdf" download>Completion certificate</a></li>
      </ul>
  	</div>

    <div class="timeline-item">
      <span class="date">06/2011 - 06/2016</span>
  		<h3>
        Bachelor's degree in Computer Science and Business Administration @
        <a href="https://www.linkedin.com/edu/school?id=162040&trk=edu-cp-title" target="_blank">The Open University of Israel</a>
      </h3>
      <ul>
        <li>Seminar paper in Business Ethics course (grade: 85)</li>
        <li>Final project was in Java: <a href="https://github.com/nirgn975/Book4You">GitHub Repo</a> (grade: 95)</li>
        <li>GPA: 76</li>
      </ul>
  	</div>

    <div class="timeline-item">
      <span class="date">01/2014 - 05/2014</span>
  		<h3>
        Fundamentals of Computing Specialization on Coursera from
        <a href="http://www.rice.edu" target="_blank">Rice University</a>
      </h3>
  		<p>The specialization including the courses:</p>
      <ul>
        <li>
          <a href="https://www.coursera.org/account/accomplishments/records/4AcC8bpzybnSy88v" target="_blank">An Introduction to Interactive Programming in Python - (9 weeks)</a>
        </li>
        <li>
          <a href="https://www.coursera.org/account/accomplishments/verify/9JN97ACR8M" target="_blank">Principles of Computing (Part 1) - (5 weeks)</a>
        </li>
      </ul>
  	</div>

    <div class="timeline-item">
      <span class="date">01/2004 - 01/2008</span>
  		<h3>
        High School diploma @
       <a href="http://www.oramo.co.il" target="_blank">Ora Modi'im High School</a>
      </h3>
  		<p>Majoring in computer science at Ora Modi'im High School</p>
      <ul>
        <li>GPA: 82</li>
      </ul>
  	</div>
  </div>
</div>
