<div class="talks">
  <span class="category-header">
    <i class="fas fa-bullhorn fa-2x"></i>
    <h2>Talks</h2>
  </span>

  <div class="uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
      <div class="uk-card-media-left uk-cover-container">
          <img src="talks/pipenv-the-future-of-python-dependency-management.jpg" uk-cover>
          <!-- <canvas width="600" height="400"></canvas> -->
      </div>
      <div>
          <div class="uk-card-body">
              <h3 class="uk-card-title">Pipenv: The future of Python dependency management</h3>
              <p>
                <span>4/12/17</span> |
                <span>
                  <a href="https://www.meetup.com/PyWeb-IL/events/245071494" target="_blank"> Meetpup Page</a> |
                </span>
                <span>
                  <a href="talks/pipenv-the-future-of-python-dependency-management.pptx" target="_blank"> Download</a>
                </span>
              </p>
          </div>
      </div>
  </div>
  <div class="uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
      <div class="uk-card-media-left uk-cover-container">
          <img src="talks/api-star.jpg" uk-cover>
          <!-- <canvas width="600" height="400"></canvas> -->
      </div>
      <div>
          <div class="uk-card-body">
              <h3 class="uk-card-title">API Star - Next generation framework!</h3>
              <p>
                <span>6/11/17</span> |
                <span>
                  <a href="https://www.meetup.com/PyWeb-IL/events/243985794" target="_blank"> Meetpup Page</a> |
                </span>
                <span>
                  <a href="talks/api-star.pptx" target="_blank"> Download</a>
                </span>
              </p>
          </div>
      </div>
  </div>
  <div class="uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
      <div class="uk-card-media-left uk-cover-container">
          <img src="talks/404-sql-db-not-found.jpg" uk-cover>
          <!-- <canvas width="600" height="400"></canvas> -->
      </div>
      <div>
          <div class="uk-card-body">
              <h3 class="uk-card-title">404 SQL DB not found. Meet RethinkDB</h3>
              <p>
                <span>11/8/16</span> |
                <span>
                  <a href="https://www.meetup.com/RethinkDB-Israel-Meetup/events/217336482" target="_blank"> Meetpup Page</a> |
                </span>
                <span>
                  <a href="talks/404-sql-db-not-found.pptx" target="_blank"> Download</a>
                </span>
              </p>
          </div>
      </div>
  </div>
</div>
