<div class="talks">
  <span class="category-header">
    <i class="bullhorn icon"></i>
    <h2>Talks</h2>
  </span>

  <div class="ui items">
  <div class="item">
    <div class="ui small image">
      <img src="talks/pipenv-the-future-of-python-dependency-management.jpg">
    </div>
    <div class="content">
      <div class="header">Pipenv: The future of Python dependency management</div>
      <div class="meta">
        <span>11/8/16</span> |
        <span>
          <a href="https://www.meetup.com/PyWeb-IL/events/245071494" target="_blank"> Meetpup Page</a> |
        </span>
        <span>
          <a href="talks/pipenv-the-future-of-python-dependency-management.pptx" target="_blank"> Download</a>
        </span>
      </div>
      <div class="description">
        <p></p>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="ui small image">
      <img src="talks/api-star.jpg">
    </div>
    <div class="content">
      <div class="header">API Star - Next generation framework!</div>
      <div class="meta">
        <span>6/11/17</span> |
        <span>
          <a href="https://www.meetup.com/PyWeb-IL/events/243985794" target="_blank"> Meetpup Page</a> |
        </span>
        <span>
          <a href="talks/api-star.pptx" target="_blank"> Download</a>
        </span>
      </div>
      <div class="description">
        <p></p>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="ui small image">
      <img src="talks/404-sql-db-not-found.jpg">
    </div>
    <div class="content">
      <div class="header">404 SQL DB not found. Meet RethinkDB</div>
      <div class="meta">
        <span>11/8/16</span> |
        <span>
          <a href="https://www.meetup.com/RethinkDB-Israel-Meetup/events/217336482" target="_blank"> Meetpup Page</a> |
        </span>
        <span>
          <a href="talks/404-sql-db-not-found.pptx" target="_blank"> Download</a>
        </span>
      </div>
      <div class="description">
        <p></p>
      </div>
    </div>
  </div>
</div>
</div>
