<div class="work">
  <span class="category-header">
    <i class="briefcase icon"></i>
    <h2>Work</h2>
  </span>

  <div class="timeline-container">
    <div class="timeline-item">
      <span class="date">01/2020 - Present</span>
  		<h3>
        Lead Software Engineer @
        <a href="https://www.verint.com" target="_blank">Verint</a>
      </h3>
  		<p>
  			WebintPro LTD was acquired by Verint.
  		</p>
  	</div>

  	<div class="timeline-item">
      <span class="date">02/2017 - 12/2019</span>
  		<h3>
        Lead Software Engineer @
        <a href="https://www.linkedin.com/company/3296384" target="_blank">webintPro Ltd</a>
      </h3>
  		<p>
  			I'm speaking with myself, number one, because I have a very good brain and I've said a lot of things. I write the best placeholder text, and I'm the biggest developer on the web by far... While that's mock-ups and this is politics, are they really so different? I think the only card she has is the Lorem card.
  		</p>
  	</div>

  	<div class="timeline-item">
      <span class="date">10/2015 - 01/2019</span>
  		<h3>
        Lead Software Engineer, Volunteer @
        <a href="https://www.linkedin.com/company/2471778" target="_blank">The Public Knowledge Workshop</a>
      </h3>
  		<ul>
        <li>Take part in Hackita02 program and one of the founders of "Ways Of Time" project that enable the National Library of Israel to upload and geotag their geographic maps collection, and open them to the public so they can browse and see them from anywhere.</li>
        <li>Lead developer of version 2.x of the "Open Pension" project. The project mission is to reveal what happens behind the Israeli pension market, while enabling the public to trace the money and expose corruption.</li>
        <li>Ways Of Time - <a href="https://github.com/nirgn975/WaysOfTime" target="_blank">GitHub Repo</a></li>
        <li>Open Pension Website - <a href="https://github.com/hasadna/open_pension" target="_blank">GitHub Repo</a></li>
        <li>Open Pension Crawler - <a href="https://github.com/hasadna/open_pension_scraper" target="_blank">GitHub Repo</a></li>
  		</ul>
  	</div>

  	<div class="timeline-item">
      <span class="date">12/2015 - 01/2017</span>
  		<h3>
        Full Stack Software Engineer @
        <a href="https://www.linkedin.com/company/1776824" target="_blank">Gizra - Internet Solutions</a>
      </h3>
      <ul>
        <li>Developing a system to connect between companies on varies projects, tracking, and managing them, for the European Union.</li>
        <li>The Frontend is build with HTML5, CSS3, Bootstrap, JS, and jQuery. Backend written in PHP and Database in MySQL.</li>
        <li>Working with Git on GitHub, doing code reviews, and writing tests with Behat (runs on Travis-CI).</li>
        <li>Builds a Docker image for the system, and integrate continuous deployment methods.</li>
      </ul>
  	</div>

    <div class="timeline-item">
      <span class="date">07/2015 - 11/2015</span>
  		<h3>
        Junior Full Stack Software Engineer @
        <a href="https://www.linkedin.com/company/2484049" target="_blank">Restart Group - IT | WEB | Mobile | People</a>
      </h3>
  		<ul>
        <li>Part of a team that develops and maintains a financial system, from end to end, that handles thousands of transactions to offshore bank accounts.</li>
        <li>Implement a new Front-end design built with HTML5, CSS3, Bootstrap, JS and jQuery.</li>
        <li>Back-end written in PHP, and DB in MySQL.</li>
        <li>Implement new banks APIs.</li>
  		</ul>
  	</div>

    <div class="timeline-item">
      <span class="date">03/2011 - 12/2012</span>
  		<h3>
        Internet Expert @
        <a href="https://www.linkedin.com/company/162949" target="_blank">Cellcom Israel, Ltd</a>
      </h3>
  		<ul>
        <li>Tier 2 customer Support Expert Team.</li>
        <li>Knowledge focal point for representatives at specialized Call centers.</li>
        <li>Handling top level customer escalations and Gold customers support.</li>
        <li>Experience working on UNIX-based switches with HP-UX, And with SAP & Amdocs systems.</li>
        <li>Responsible for converting two call centers (Haifa and Beer Sheva) to specialized centers (provide training, and supervision throughout the beginning of the activity until go-live operation).</li>
  		</ul>
  	</div>

    <div class="timeline-item">
      <span class="date">11/2009 - 02/2011</span>
  		<h3>
        Internet Service Representitive @
        <a href="https://www.linkedin.com/company/162949" target="_blank">Cellcom Israel, Ltd</a>
      </h3>
  		<ul>
        <li>Tier 1 customer Support Team.</li>
        <li>Handling customer requirements and providing solutions on Internet, data and technical problems.</li>
        <li>Rated at the 10% of the Company's outstanding employees in 2010 and a leader in service in the internet and technical Customer Service Center in 2011.</li>
  		</ul>
  	</div>

    <div class="timeline-item">
      <span class="date">03/2009 - 10/2009</span>
  		<h3>Military service (shortened for health reasons).</h3>
  		<p>Administrative role in the logistics department at Sde Dov Air Force base.</p>
  	</div>
  </div>
</div>
