{{ define "main" }}

<div class="ui grid">
  <div class="four wide column">
    {{ partial "banner.html" . }}
  </div>
  <div class="eight wide column">
    {{ partial "about-me.html" . }}
    <div class="ui divider"></div>
    {{ partial "work.html" . }}
    <div class="ui divider"></div>
    {{ partial "education.html" . }}
    <div class="ui divider"></div>
    {{ partial "skills.html" . }}
    <div class="ui divider"></div>
    {{ partial "projects.html" . }}
    <div class="ui divider"></div>
    {{ partial "blog.html" . }}
    <div class="ui divider"></div>
    {{ partial "talks.html" . }}
    <div class="ui divider"></div>
    {{ partial "contact.html" . }}
  </div>
</div>

{{ end }}
