{{ define "main" }}

<div class="uk-container">
  <div uk-grid>
    <div class="uk-width-1-4@m">
      {{ partial "banner.html" . }}
    </div>
    <div class="content uk-width-3-4@m">
      {{ partial "about-me.html" . }}
      <hr>
      {{ partial "work.html" . }}
      <hr>
      {{ partial "education.html" . }}
      <hr>
      {{ partial "skills.html" . }}
      <hr>
      {{ partial "projects.html" . }}
      <hr>
      {{ partial "blog.html" . }}
      <hr>
      {{ partial "talks.html" . }}
      <hr>
      {{ partial "contact.html" . }}
    </div>
  </div>
</div>

{{ end }}
